@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

input,
textarea {
  padding: 0.4rem;
  margin: 3px;
}

button {
  background-color: grey;
  border-radius: 3px;
  color: #222222;
  padding: 2px 10px;
}

button:disabled {
  background-color: #222222;
  color: grey;
}